
.main-timeline {
    font-family: 'Oxygen', sans-serif;
    position: relative;
  }
  
  .main-timeline:before {
    content: '';
    height: 100%;
    width: 1px;
    border-left: 3px dashed #fff;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
  }
  
  .main-timeline .timeline {
    padding-left: 0px;
    padding-right: 52px;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .main-timeline .timeline:before,
  .main-timeline .timeline:after {
    content: '';
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
  }
  
  .main-timeline .timeline:after {
    background-color: #ffdb58;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 0;
    transform: translateX(0) translateY(-50%) rotate(45deg);
    left: auto;
    right:40.5%;
  }
  
  .main-timeline .timeline-content {
    color: #000;
    background-color: #FFDB58;
    width: 40%;
    border-radius: 10px;
    display: block;
    position: relative;
    float: right;
  }
  
  .main-timeline .timeline-content:hover {
    text-decoration: none;
  }
  
  .main-timeline .title {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
  }
  
  .main-timeline .description {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 50px 15px 20px;
    margin: 0;
  }
  
  .main-timeline .timeline:nth-child(even) {
    padding-left: 52px;
    padding-right: 0;
  }
  
  .main-timeline .timeline:nth-child(even):after {
    left: 40.5%;
    right: auto;
  }
  
  .main-timeline .timeline:nth-child(even) .timeline-content {
    float: none;
  }
  
  .main-timeline .timeline:nth-child(even) .description {
    padding: 10px 20px 15px 50px;
  }
  
  .main-timeline .timeline:nth-child(n):before {
    background-color: white;
    border: 10px solid #ffffff;
  }
  
  .main-timeline .timeline:nth-child(n) .title {
    background-color: #FFDB58;
  }
  
  @media screen and (max-width:990px) {
    .main-timeline .timeline:after {
      right: 40%;
    }
  
    .main-timeline .timeline:nth-child(even):after {
      left: 40%;
    }
  
    .main-timeline .timeline:nth-child(even) .timeline-content,
    .main-timeline .timeline-content {
      width: 39%;
    }
  }
  
  @media screen and (max-width:767px) {
    .main-timeline:before {
      transform: translateX(0);
      left: 0;
    }
  
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline {
      padding: 40px 30px 0;
      margin-bottom: 30px;
    }
  
    .main-timeline .timeline:before {
      transform: translateX(0) translateY(-50%);
      left: -11px;
    }
  
    .main-timeline .timeline:nth-child(even):after,
    .main-timeline .timeline:after {
      left: 28px;
    }
  
    .main-timeline .timeline:nth-child(even) .timeline-content,
    .main-timeline .timeline-content {
      width: 100%;
    }
  
    .main-timeline .title {
      font-size: 20px;
    }
  
    .main-timeline .timeline:nth-child(even) .description,
    .main-timeline .description {
      padding: 15px 15px 15px 15px;
    }
  }